.hero-section {
    background-image: url("/images/banner_contact_us.jpg");
}

/* contact section */
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 670px;
    min-width: 340px;
    margin: 0 10px;
    box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.58);
    border-radius: 7px;
}

#contactForm {
    width: 310px;
    text-align: center;
}

.contact-form {
    display: grid;
    place-items: center;
    width: 310px;
}

.contact-form h2 {
    margin: 20px 0;
    overflow: hidden;
}

.contact-form form {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.contact-form input {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    background: rgb(230, 230, 227);
    border: none;
    font-size: 0.9rem;
    margin-top: 10px;
    font-size: 1rem;
}

.contact-form textarea {
    background: rgb(230, 230, 227);
    border: none;
    width: 300px;
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 1.1rem;
}

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 40px;
    margin: 30px 0;
    background: orange;
    color: var(--dark);
    border: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.58);
    cursor: pointer;
}

.contact-button:hover {
    background: white;
    transition: all 0.3s ease;
}

#message {
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    width: 300px;
    height: fit-content;
    overflow: hidden;
}

.success {
    color: black;
    border: none;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 0.8em;
    background: orange;
}
/* contact section end */

/* ui */
input,
textarea {
    outline: none;
    resize: none;
}

.form-error {
    display: none;
    color: red;
    font-size: 0.9rem;
    text-align: left;
    margin: 0.125rem 0;
    padding-left: 10px;
}

.message {
    padding: 1em;
    border: 1px solid grey;
    color: grey;
}

.error {
    color: red;
    border-color: red;
    background: rgba(255, 0, 0, 0.1);
}
/* ui end */
