.herobar {
    background-image: url("/images/banner_all.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 150px;
}

/* media queries */

@media screen and (max-width: 768px) {
    .herobar {
        background-image: url("/images/banner_all_pad.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: 150px;
    }
}
@media screen and (max-width: 414px) {
    .herobar {
        background-image: url("/images/banner_all_mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: 150px;
    }
    .herobar h1 {
        text-align: left;
        vertical-align: middle;
        line-height: 150px;
        color: #0a3641;
        text-transform: uppercase;
        font-size: 1.3rem;
    }
}
