.bg {
    text-align: center;
    background-image: url("/images/homepage_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}

.bg h1 {
    margin: 0 0 0 15%;
    text-align: left;
    vertical-align: middle;
    line-height: 150px;
    color: #0a3641;
    text-transform: uppercase;
}

h1 {
    font-family: adobe-garamond-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    color: #0a3641;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    gap: 1rem;
}

.womens,
.mens {
    margin: 50px;
}

.womens,
.mens a {
    font-weight: bolder;
}

.parent .womens a,
.mens a {
    border-style: solid;
    border-color: #0a3641;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 5px;
}

.comfy {
    text-align: center;
    line-height: 1;
    padding-top: 100px;
    font-family: adobe-garamond-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    color: #0a3641;
}

/* media queries */

@media screen and (max-width: 768px) {
    .bg {
        background-image: url("/images/homepage_bg_pad.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: 100vh;
    }
}
@media screen and (max-width: 414px) {
    .bg {
        background-image: url("/images/homepage_bg_mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        height: 100vh;
    }
}
