.cart-btn {
    text-align: right;
    margin-right: 1rem;
}

#cart-btn {
    padding: 1rem;
    background-color: #f88433;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
#cart-btn i {
    color: #0a3641;
}
.cart-count-info {
    color: #0a3641;
}

.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(10, 54, 65, 0.7);
    z-index: 2;
    /* visibility: hidden; */
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 70%;
    overflow-y: auto;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    /* transform: translateX(100%); */
    /* right: -20%; */
}

.cart-products {
    margin-top: 50px;
    padding: 10px;
    font-size: 2rem;
    color: #0a3641;
}

.cart-products li {
    list-style: none;
}

.change {
    right: 100px;
}

.close-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* position: fixed; */
    width: 35px;
    height: 30px;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.close-button button {
    padding: 10px;
    background-color: #0a3641;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 1.3rem;
}
